@font-face {
  font-family: 'Frutiger';
  font-style: normal;
  font-weight: normal;
  src: local('Frutiger'), url('/Frutiger.woff') format('woff');
}
  

@font-face {
  font-family: 'Frutiger Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Frutiger Bold'), url('/Frutiger_bold.woff') format('woff');
}

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

}
.loader {
  width: 100px;
  height: 100px;
  border: 10px solid #7700ff;
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  background-color: transparent;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}