body{
  position: relative;
  margin: 0;
  font-family: "Frutiger Bold";
  text-align: center;
}

a {
  /* font-weight: bold; */
  /* font-size: inherit; */
  color: inherit;
  text-decoration: inherit;
}


.loading-screen{
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 

}

button{
  background: #61389c;
  color: white;
  font-family: Frutiger Bold;
  cursor: pointer;
  border-radius: 100px;
  margin: 30px 0;
  padding: 10px;
  border: none;
}
button:hover{
  background:rgb(88, 50, 142);
}